@import url('https://fonts.googleapis.com/css2?family=Amita:wght@400;700&family=Handlee&display=swap');




#content {
    max-width: 1600px;
    margin: 0 auto;
    font-size: 100%;

}

.navigation {
    display: flex;
    font-size: 90%;
    padding-left: 0px;
}

.navigation li {
    display: block;
    flex: 1 1 100%;
}

.navigation a {
    text-align: center;
    color: black;
    text-decoration: none;
    padding: 10px;
}

#menu {
    display: none;
}

nav a:hover {
    background-color: #5AA9E6;
    color: white;

}

nav {
    display: flex;
    justify-content: space-around;
}

.logo {
    width: 80px;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

.magic-places,
.beautiful-villages {
    margin-top: 175px;
    margin-bottom: 50px;
}

.card-img {
    border: 10px solid #FFE45E;
    box-shadow: 5px 5px 10px black;
}

#cards-title {
    padding-top: 50px;
}

main section,
h1 {
    text-align: center;
}

body {
    background-color: #7FC8F8;
    font-family: Handlee, Helvetica, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

header {
    display: grid;
    background-color: white;
    grid-template-columns: 150px 1fr 2fr;
}



footer {
    background-color: white;
    color: black;
    padding: 25px 50px;
    margin-top: 200px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

footer a {
    color: black;
    text-decoration: none;
}

footer a:hover {
    background-color: #5AA9E6;
    color: white;
}


.home-title {
    color: #FFE45E;
    font-family: Amita, Helvetica, sans-serif;
    font-size: 2.5em;
    margin-top: 5px;
    margin-bottom: 0px;
    text-shadow:
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
}

.secondary-title {
    color: #FFE45E;
    font-family: Amita, Helvetica, sans-serif;
    font-size: 2.2em;
    margin-top: 10px;
}

h4,
p {
    color: #03045e;
}

h2 {
    color: white
}

.hero-img,
#locations-main-pic,
#faqs-main-pic,
#footer-img {
    width: 100%;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -65px;
}

#hero-secondary {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -65px;

}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
    text-align: center;
}

#hero-box,
#locations-banner,
#faqs-banner {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#hero-subtitle {
    color: white;
    margin-top: 0px;
    margin-bottom: 0px;
    text-shadow:
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;

}

.secondary-title {
    margin-top: 50px;
}

.home-main {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 2fr 1fr;
    margin-top: -90px;
}

.card-img {
    width: 100%;
    max-width: 350px;
}

#places-card-title {
    grid-column: span 1/5;
}

.magic-places {
    grid-column: 2/3;
}

.beautiful-villages {
    grid-column: 4/5;
}



#main-title {
    font-size: 2.5em;
}

.main-message {
    grid-column: 1 / span 10;
    margin-left: 10px;
    margin-right: 10px;

}

.locations-main,
.faqs-main {
    margin-left: 15px;
    margin-right: 30px;
}

#footer-img {
    margin-top: 100px;
    margin-bottom: -210px;
}

#contactus-title {
    text-align: center;
}

.faqs-pic-right {
    float: right;
    max-width: 300px;
    margin: 15px;
}

.faqs-pic-left {
    float: left;
    max-width: 300px;
    margin: 15px;
}

#san-jose-section {
    margin-top: 20px;
    margin-bottom: 20px;
}


#main-text {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    margin-top: 20px;
}

#san-jose-text {
    grid-column: 1/3;
    grid-row: 1/2;
    padding-top: 7%;
    text-align: left;
}

#san-jose-pic {
    grid-column: 3/4;
    grid-row: 1/2;
}

#antigua-pic {
    grid-column: 1/2;
    grid-row: 2/3;
}

#antigua-text {
    grid-column: 2/4;
    grid-row: 2/3;
    padding-top: 7%;
    text-align: right;
}

#pana-text {
    grid-column: 1/3;
    grid-row: 3/4;
    padding-top: 7%;
    text-align: left;
}

#pana-pic {
    grid-column: 3/4;
    grid-row: 3/4;
    /* margin-left: 15px; */
}

#quirigua-pic {
    grid-column: 1/2;
    grid-row: 4/5;
}

#quirigua-text {
    grid-column: 2/4;
    grid-row: 4/5;
    padding-top: 7%;
    text-align: right;
}

.location-right,
.location-left {
    border: 10px solid white;
    margin-top: 15%;
    box-shadow: 5px 5px 10px black;
    max-width: 80%;
}

.faqs-pic-right,
.faqs-pic-left,
.faqs-pic-right1,
.faqs-pic-left1 {
    box-shadow: 5px 5px 10px black;
    max-width: 300px;
}

.faqs-pic-right1,
.faqs-pic-left1 {
    display: none;
}

.faqs-pic-left {
    margin-right: 40px;

}

#pre-footer {
    display: grid;
    grid-template-columns: 3fr 50px 2fr;
    text-align: center;
    margin-top: 100px;
}

#pre-footer-text {
    font-size: 2em;
    grid-column: 1/2;
    text-align: right;
}

#contact-us-button {
    grid-column: 3/4;
    text-align: center;
    background-color: #FFE45E;
    color: #03045e;
    text-decoration: none;
    font-size: 20px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
    max-width: 150px;
    max-height: 25px;
}




/* Style the form */
#regForm {
    background-color: #ffffff;
    margin: 100px auto;
    padding: 40px;
    width: 70%;
    min-width: 300px;
}

/* Style the input fields */
input {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    font-family: Raleway;
    border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
    background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
    display: none;
}

/* Make circles that indicate the steps of the form: */
.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

/* Mark the active step: */
.step.active {
    opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
    background-color: #04AA6D;
}