@media screen and (max-width: 800px) {
    #website-title {
        font-size: 75%;
    }
}

@media screen and (max-width: 700px) {

    header {
        display: grid;
        background-color: white;
        grid-template-columns: 1fr 1fr 1fr;
    }

    #menu {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        text-decoration: none;
        padding: .5rem .75rem;
        background-color: #eee;
        color: #000;
        grid-column: span 3;
    }

    #menu::before {
        content: "≡";
    }

    .navigation {
        flex-direction: column;
        list-style: none;
        margin: 0 auto;
        max-width: 760px;
    }

    .navigation li {
        display: none;
    }

    .navigation a {
        display: block;
        padding: 0.75rem;
        text-align: left;
        text-decoration: none;
        color: black;
        font-weight: 700;
        transition: 0.5s;
        font-size: clamp(1rem, 2vmin, 1.5rem);
    }

    .navigation a:hover,
    navigation a:active {
        color: white;
        background-color: #5AA9E6;
    }

    .show li {
        display: block;
    }

    #menu.show::before {
        content: "X";
    }

    .home-main {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        margin-top: -100px;
    }

    .card-img {
        max-width: 250px;
    }

    .location-right,
    .location-left {
        max-width: 270px;
    }

    #locations-title {
        text-align: center;
    }

    .magic-places {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .beautiful-villages {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .logo {
        display: none;
    }

    #main-text {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        margin-top: 20px;
    }

    #san-jose-text {
        grid-column: 1/2;
        grid-row: 1/2;
        padding-top: 7%;
        text-align: center;
    }

    #san-jose-pic {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    #antigua-text {
        grid-column: 1/2;
        grid-row: 3/4;
        padding-top: 7%;
        text-align: center;
    }

    #antigua-pic {
        grid-column: 1/2;
        grid-row: 4/5;
    }


    #pana-text {
        grid-column: 1/2;
        grid-row: 5/6;
        padding-top: 7%;
        text-align: center;
    }

    #pana-pic {
        grid-column: 1/2;
        grid-row: 6/7;
    }

    #quirigua-text {
        grid-column: 1/2;
        grid-row: 7/8;
        padding-top: 7%;
        text-align: center;
    }

    #quirigua-pic {
        grid-column: 1/2;
        grid-row: 8/9;
    }

    .faqs-main {
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .faqs-pic-left,
    .faqs-pic-right {
        display: none;
    }

    .faqs-pic-right1,
    .faqs-pic-left1 {
        display: block;
        max-width: 90%;
    }

    #pre-footer {
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
        margin-top: 100px;
        justify-content: center;
        align-items: center;
    }

    #pre-footer-text {
        font-size: 2em;
        grid-column: 1/2;
        text-align: center;
    }

    #contact-us-button {
        grid-column: 1/2;
        grid-row: 2/3;
        text-align: center;
        background-color: #FFE45E;
        color: #03045e;
        text-decoration: none;
        font-size: 20px;
        padding: 15px 30px;
        margin-top: 10px;
        margin-left: 15%;
        margin-right: 15%;
        border-radius: 5px;
        max-width: 150px;
        max-height: 25px;
    }


}