@media screen and (min-width:700px) {

    main {
        display: grid;
        grid-template-columns: 2fr 1fr 2fr;
        grid-template-rows: 1fr;
    }

    h2 {
        margin-left: -20px;
        padding-left: 15px;
        max-width: 100px;
        text-align: left;
        background-color: #90e0ef;
        border: 2px solid #03045e;

    }

    .hero {
        grid-column: 1/4;
        grid-row: 1/2;
    }

    .weather_title {
        display: inline;
    }

    .weather_title::after {
        content: "⛅";
        width: 300px;
    }

    .weather_icon {
        display: none;
    }

    .pana_img {
        margin-bottom: -5px;
    }

    .weather {
        grid-column: 3/4;
        grid-row: 1/2;
        margin-bottom: 40%;
    }

    .data {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .data,
    .weather {
        font-size: 80%;
        text-align: left;
        padding: 10px;
        margin: 15%;
        background: rgba(255, 255, 255, 0.75);
    }
}


@media screen and (min-width: 890px) {

    main {
        display: grid;
        grid-template-columns: 2fr 1fr 2fr;
        grid-template-rows: 40% 1fr 40%;
    }

    .hero {
        grid-column: 1/4;
        grid-row: 1/3;
    }

    header {
        font-size: 120%;
    }

    .data {
        max-height: 200px;
        min-height: 180px;
        grid-column: 1/2;
        grid-row: 1/3;
    }

    .weather {
        max-height: 140px;
        grid-column: 3/4;
        grid-row: 2/4;
    }

    .data,
    .weather {

        font-size: 85%;
        margin: 10% 15%;
    }

}