@import url('https://fonts.googleapis.com/css2?family=Inder&family=Metrophobic&display=swap');

:root {
    --main-font: Metrophobic;
    --secondary-font: Inder;
}

* {
    margin: 0;
}

body {
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
p {
    font-family: var(--secondary-font), Helvetica, sans-serif;
}

section {
    margin: 20px auto;
}

td {
    font-family: var(--main-font), Helvetica, sans-serif;
}

.pana_img {
    width: 100%;
    height: auto;
    max-width: 100%;
}

header,
footer {
    padding: 15px;
    text-align: center;
    background-color: #b5e2fa;
}

.table_bold {
    text-align: right;
    font-weight: bold;

}

h2 {
    text-align: center;
}

.data_table,
.weather_table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.weather_icon {
    display: block;
    margin: 5px auto;
    max-width: 80px;

}